<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  <title>{{title}}</title>
</head>

<body>
  <div class="jumbotron mb-0">
   <a href="/"><h1 class="text-center" id="devh1">Tristan Harkleroad</h1></a>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light pt-0 pb-0 pr-0 pl-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link pr-5 pl-5" href="../portfolio">Portfolio</a>
      <a class="nav-item nav-link pr-5 pl-5" href="../contact">Contact Me</a>
      </div>
    </div>
  </nav>

  <div class="container-body">
    {{{body}}}
  </div>
  
  <!-- Footer -->
  <footer class="site-footer">
    <div class="container">
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
            <a href="https://zety.com/mycv/tristanharkleroad">Tristan Harkleroad</a>
          </p>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <ul class="social-icons">
    <a href="https://www.linkedin.com/in/tristan-harkleroad-4ab32a149/" class="links"><i class="fab fa-linkedin fa-4x"></i></a>
    <a href="https://www.facebook.com/tristan.harkleroad" class="links"><i class="fab fa-facebook-f fa-4x"></i></a>
    <a href="https://github.com/TristanHarkleroad" class="links"><i class="fab fa-github fa-4x"></i></a>
    <a href="https://zety.com/mycv/tristanharkleroad" class="links"><i class="fas fa-user-circle fa-4x"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

  <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Custom scripts -->
  {{#each js}}
    <script type="text/javascript" src="/js/{{this}}"></script>
  {{/each}}

</html>
