<h1 id="headline"> About Me </h1>
<div class="row-p">
  <div class="container-picture">
    <div class="col-md-2 col-sm-6 col-xs-12">
    
      <img src="/images/IMG_1004.JPG" width="300px" height="420px"alt="picture of Me" id="myPic"></img>
    </div>
  </div>

    <div class="col-md-10 col-sm-6 col-xs-12">
        <p class="aboutPar"> A Full-stack developer with a passion for technology and computers. Attended the Citadel: The Military
          College of South Carolina. Graduated with a Bachelor's degree in Health Exercise and Sport Science (HESS) in May
          2018. HESS is designed to provide an exemplary educational environment and experiences leading to acquisition of
          skills, knowledge and attitudes within the domains for human movement and healthful living. While at the Citadel,
          played collegiate football for four years on full scholarship. Graduated from Georgia Tech's full-stack web
          development course and earned certification in August 2019. Experienced with front-end development frameworks
          such as HTML5, CSS3, JavaScript, C#, ASP.Net, Bootstrap and jQuery. Also experienced in back-end development
          including Express.js, React.js, Node.js, MongoDB, MySQL, Command Line and Git. Remarkable skills in conflict
          management, problem solving, working in a team, creativity, and time management. My hobbies consist of competitive 
          gaming, Netflix, writing code, and reading. I love to watch Game of Thrones, Stranger Things, The Office, and Marvel
          movies. I enjoy learning new things and keeping up with new technology being developed and how it can improve way of 
          life.
        </p>
    </div>
</div>

