<body>
  <h1 id="headline"> Projects and Sites </h1>
  <div class="container" id="projects">
    <a href="https://dderrickmatheww.github.io/Project1/" class="links2"><img
        src="C:\Users\thark\OneDrive\Desktop\BootCampGT\Week_2\Tristan.Harkleroad.io\images\hotdrop.JPG"
        alt="HOT DROP"></a>
    <a href="https://tristanharkleroad.github.io/WordGuessGame/" class="links2"><img
        src="C:\Users\thark\OneDrive\Desktop\BootCampGT\Week_2\Tristan.Harkleroad.io\images\stranger.JPG"
        alt="Word Guess Game"></a>
    <a href="https://tristanharkleroad.github.io/TrainStation/" class="links2"><img
        src="C:\Users\thark\OneDrive\Desktop\BootCampGT\Week_2\Tristan.Harkleroad.io\images\train.JPG"
        alt="Train Station Simulator"></a>
    <a href="https://tristanharkleroad.github.io/Unit-4-Game/" class="links2"><img
        src="C:\Users\thark\OneDrive\Desktop\BootCampGT\Week_2\Tristan.Harkleroad.io\images\starwars.JPG"
        alt="Star Wars RPG"></a>
    <a href="https://tristanharkleroad.github.io/GiphyAPI/" class="links2"><img
        src="C:\Users\thark\OneDrive\Desktop\BootCampGT\Week_2\Tristan.Harkleroad.io\images\giftastic.JPG"
        alt="Giphy API Search"></a>
  </div>
</body>