<body>
  <h1 id="headline"> Projects and Sites </h1>
  <div class="container" id="projects">
    <a href="https://dderrickmatheww.github.io/Project1/" class="links2"  id="linkImg"><img
        src="/images/hotdrop.JPG" height="275px" width="420px"
        alt="HOT DROP"><div>HOT DROP</div></a>
    <a href="https://tristanharkleroad.github.io/WordGuessGame/" class="links2"><img
        src="/images/stranger.JPG" height="275px" width="420px"
        alt="Word Guess Game"><div>Word Guess Game</div></a>
    <a href="https://tristanharkleroad.github.io/TrainStation/" class="links2" id="linkImg"><img
        src="/images/train.JPG" height="275px" width="420px"
        alt="Train Station Simulator"><div >Train Station Simulator</div></a>
    <a href="https://tristanharkleroad.github.io/Unit-4-Game/" class="links2"><img
        src="/images/starwars.JPG" height="275px" width="420px"
        alt="Star Wars RPG"><div>Star Wars RPG</div></a>
    <a href="https://tristanharkleroad.github.io/GiphyAPI/" class="links2" id="linkImg"><img
        src="/images/giftastic.JPG" height="275px" width="420px"
        alt="Giphy API Search"><div >Giphy API Search</div></a>
    <a href="https://agile-chamber-78706.herokuapp.com" class="links2"><img
        src="/images/duckery.JPG" height="275px" width="420px"
        alt="Giphy API Search"><div>Duckery</div></a>
  </div>